@font-face {
    font-family: 'Neue Machina';
    src: url('/src/assets/fonts/PPNeueMachina-Regular.woff2') format('woff2'),
         url('/src/assets/NeueMachina-Ultralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  